<!DOCTYPE html>
<html>
  <head>
    <title>Регистрация</title>
    <style>
      body {
        overflow: auto;
        margin: 0;
        background-color: #e0e0e0;
        color: #555555;
      }
    </style>
  </head>
  <body>
    <div style="height:80px;"></div>
    <center>
      <h1>Мы рады видеть тебя на SomeCTF</h1>
      <div style="text-align: right; width: 500px; padding-right: 100px;">
        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <a href="/register">Регистрация</a>
          <button type="submit">Войти</button>
        </form>
      </div>
    </center>
  </body>
</html>
